body {
	background:url( "bg.png" ) repeat-x scroll center top #494949;
	font-family: Ubuntu,sans-serif;
	font-size:100%;
	color:#000000;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 {
	font-size:2em;
	color:#FF0000;
	text-align:center;
	margin: auto;
}
h2 {
	font-size:1.8em;
	color:#FF0202;
	text-align:center;
	margin: auto;
}
h3{
	font-size: 1.6em;
}
h4{
	font-size: 1.4em;
}
h5{
	font-size: 1.2em;
}
h6{
	color: gray;
	font-size: 1em;
}

hr{
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}
input, textarea, button{
	font-size:100%;
	font-family:Ubuntu,sans-serif;
}
img{
	max-width: 95%;
}


/*Definitionen <div>*/
#page {
  	max-width:1100px;
	min-width:300px;
	margin:auto;
	text-align:left;
	background-color: #FFD23D;
	padding:20px;
	box-shadow: 3px 3px 1.5px #000000;
	border-radius: 15px;
	border: 1px solid #A18527;
}

#header{
	height:140px;
	font-size:3.5em;
	color:#FF0000;
	margin-top:10px;
	margin-bottom:10px;
}

#header a{
	text-decoration: none;
}
#header a:hover{
	color:#FF0000;
}
#header a:visited{
	color:#FF0000;
}
#header a:link{
	color:#FF0000;
}

#apps{
	clear:left;
	float:left;
	width:25%;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:05px;
	padding-left:05px;
	background-color:#FFFFFF;
	border-radius: 15px;
	height:auto;
	min-height:150px;
	margin-bottom:10px;
	box-shadow: 3px 3px 1.5px #000000;
	border: 1px solid #A18527;
}

#contents{
	height:auto;
	min-height:250px;
	padding-top:1.5em;
	padding-bottom:1.5em;
	padding-right:05px;
	padding-left:05px;
	width:calc(70% - 20px );
	margin-top: 10px;
	margin-left:30%;
	border-radius: 15px;
	background-color:#FFFFFF;
	position:relative;
	box-shadow: 3px 3px 1.5px #000000;
	border: 1px solid #A18527;
}

#contentm{
	height:auto;
	min-height:250px;
	padding-top:1.5em;
	padding-bottom:1.5em;
	padding-right:05px;
	padding-left:05px;
	margin-top: 10px;
	border-radius: 15px;
	background-color:#FFFFFF;
	position:relative;
	box-shadow: 3px 3px 1.5px #000000;
	border: 1px solid #A18527;
}

#footer{
	clear:both;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:0.8em;
	background-color:#FFDE83;
	margin-top:20px;
	border-radius: 15px;
	border: 1px solid #A18527;
}

#errorbox{
	background:linear-gradient( #FF5555, #FFBF10, #FF5555 );
	color: #000000;
	margin-top:20px;
	border-radius: 15px;
	padding:20px;
	margin: 5px 0;
	border: 1px solid #A18527;
}

#usertime{
	position: absolute;
	bottom:0;
	right:0;
	background-color:#FFD23D;
	min-width:30%;
	max-width:calc( 50% - 12px );
	min-height:1.3em;
	padding:4px;
	border-radius: 15px;
	border:solid 2px #FFFFFF;
	border-top:none;
}

#permalink{
	position: absolute;
	bottom:0;
	left:0;
	background-color:#FFD23D;
	min-width:30%;
	max-width:calc( 50% - 12px );
	min-height:1.3em;
	padding:4px;
	border-radius: 15px;
	border:solid 2px #FFFFFF;
	border-top:none;
	border-right:none;
}

#breadcrumb{
	position: absolute;
	top:0;
	left:0;
	background-color:#FFD23D;
	min-width:30%;
	min-height:1.3em;
	padding:4px;
	border-radius: 15px;
	border-top:solid 2px #FFFFFF;
	border-left:solid 2px #FFFFFF;
	box-shadow: 3px 3px 1.5px #000000;
}

/*menue*/
#nav {
	width:calc( 100% - 48px );
	border-radius: 15px;
	border: 1px solid #000000;
	display: inline-block;
	background-color:#FF850A;
	background: linear-gradient( #FF850A, #FFD23D );
	box-shadow: 3px 3px 1.5px #000000;
}
#nav li {
	position: relative;
	list-style: none;
	padding-right: 8px;
	float: left;
}
#nav ul {
	position: absolute;
	top: 30px;
	left: 0;
	background-color:#FF850A;
	background: linear-gradient( #FF850A, #FFD23D );
	display: none;
	margin: 0;
	padding: 0;
	border: 1px solid #000000;
	border-radius: 15px;
}
#nav a {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 8px 20px;
	margin: 0;
	background-color:#FF850A;
	background: linear-gradient( #FF850A, #FFD23D );
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
	min-width:150px;
}
#nav ul a {
	font-weight: bold;
	color:#000000 !important;
}
#nav ul ul {
	left: 90%;
	top: -3px;
}
#nav a:hover {
	border-radius: 15px;
	background:linear-gradient( #FFD23D, #7B7B7B, #FF850A );
	color: #000000;
}
#nav ul a:hover {
	border-radius: 15px !important;
	background: linear-gradient( #FFD23D, #7B7B7B, #FF850A ) !important;
	color: #000000 !important;
}
#nav li:hover > ul {
	display: block;
	z-index: 1;
}
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #000000;
}
#nav:after {
	visibility: hidden;
	line-height: 0;
	height: 0;
	content: ".";
	display: block;
	clear: both;
}
#nav a#liclicked{
	background:linear-gradient( #FFD23D, #7B7B7B, #FF850A );
	color: #000000;
	border-radius: 15px;
}

#menue_search{
	background-color:#FF850A;
	background: linear-gradient( #FF850A, #FFD23D );
	color:#000000;
	padding: 8px 20px;
	border:none;
}

/*Übersicht*/
div.overview_menue a#liclicked{
	color:#FF0000;
}

/* Sprache */
div#lang ul{
	text-align: right;
	list-style: none;
	padding:5px;
}
div#lang ul li{
	display: inline-block;
	margin: 0 5px;
}
div#lang ul li img{
	border: none;
}

/*Mobile*/
@media (orientation: portrait), (max-width:750px){
	#apps{
		float:none;
		width:100%;
		min-height:50px;
	}
	#contents{
		float:none;
		margin:0;
		width:100%;
		min-height:50px;
	}
	#header img{
		display:none;
	}
	#header{
		height:auto;
		font-size:2em;
	}
	#permalink{
		left:0;
		max-width:100%;
	}
	#usertime{
		display:none;
	}
	div.overview_menue{
		display: none;
	}
}

/* allgemeines */
blockquote{
	margin: 15px 0;
	margin-left: 1.5em;
	padding-left: 1.5em;
	border-left: 0.2em gray solid;
}
code:not( [class*="language-"] ), pre:not( [class*="language-"] ){
	border-radius: 3px;
	background-color: #F8F8F8;
	color: inherit;
}
code:not( [class*="language-"] ){
	border: 1px solid #EAEAEA;
	margin: 0 2px;
	padding: 0 5px;
}
pre:not( [class*="language-"] ){
	border: 1px solid #CCCCCC;
	line-height: 1.25em;
	overflow: auto;
	padding: 6px 10px;
}
pre:not( [class*="language-"] ) > code:not( [class*="language-"] ) {
	border: 0;
	margin: 0;
	padding: 0;
}
