body { background:url('bg.gif') repeat-x scroll left top #494949;
	font-family: Ubuntu;
	font-size:14px;
	color:#000000;
}
h1 {
	font-size:22px;
	color:#0000ff;
	text-align:center;
	margin: auto;
}
h2 {
	font-size:18px;
	color:#0000ff;
	text-align:center;
	margin: auto;
}

/*Definitionen <div>*/

#page {
  	width:950px;
	margin:auto;
	text-align:left;
	border-radius: 15px;
}

#header{
	width:950px;
	height:100px;
	font-size:40px;
	color:#0000ff;
	background-color:#EEC900;
	border-radius: 15px;
	margin-top:10px;
	margin-bottom:10px;
	border:solid 2px #ffffff;
}

#menu{
	height:30px;
	padding-bottom:03px;
	padding-top:03px;
	font-size:15px;
	clear: both;
	margin-bottom:20px;

}

#menuname{
	text-align:left;
	padding-left:10px;
	padding:5px;
	height:30px;
	margin-left:20px;
	border:solid 2px #ffffff; 
	border-radius:15px;
	color:#0000ff;
	background-color:#EEC900;
	display:inline-block;
}

a.menu {
	display:inline-block;
	margin-right:20px;
	margin-left:20px;
	text-align:center;
	width:16ex;
        border:solid 2px #EEC900;
	padding:4px; 
	text-decoration:none; 
	border-radius:10px;
}

a.menu:link    { color:#0000ff; background-color:#ffffff; }
a.menu:visited { color:#0000ff; background-color:#ffffff; }
a.menu:hover   { color:#0000ff; background-color:#EEC900; border:solid 2px #ffffff; }
a.menu:active  { color:#0000ff; background-color:#EEC900; border:solid 2px #ffffff; }

#site {
	width:950px;
	height:auto;
	min-height:250px;
	
}

#menu-apps{
	float:left;
	width:200px;
	height:auto;
	min-height:200px;
	margin: 10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:05px;
	padding-left:05px;
	background-color:#ffffff;
	border-radius: 15px;
	border:solid 2px #EEC900;
}

#content-apps{
	height:auto;
	min-height:300px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:05px;
	padding-left:05px;
	width:700px;
	margin-left:230px;
	border-radius: 15px;
	background-color:#ffffff;
	border:solid 2px #EEC900;
}

#content{
	height:auto;
	min-height:250px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:05px;
	padding-left:05px;
	border-radius: 15px;
	background-color:#ffffff;
	width:700px;
	margin-left:230px;
	border:solid 2px #EEC900;
}

#footer{
	width:950px;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:12px;
	color:#000000;
	background-color:#EEC900;
	width:711px;
	margin-left:230px;
	border-radius: 15px;
	margin-top:20px;
	border:solid 2px #ffffff;
}

