body {
	background:white;
	font-family: Ubuntu,sans-serif;
	font-size:100%;
	color:#000000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
	font-size:2em;
	color:black;
	text-align:center;
	margin: auto;
}
h2 {
	font-size:1.8em;
	color:black;
	text-align:center;
	margin: auto;
}
h3{
	font-size: 1.6em;
}
h4{
	font-size: 1.4em;
}
h5{
	font-size: 1.2em;
}
h6{
	color: gray;
	font-size: 1em;
}

hr{
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}
input, textarea, button{
	font-size:100%;
	font-family:Ubuntu,sans-serif;
}
img{
	max-width: 95%;
}

/*Definitionen <div>*/

#page {
	margin:auto;
	text-align:left;
	background-color:white;
	border-radius: 15px;
}

#header{
	height:100px;
	font-size:40px;
	color:black;
	background-color:gray;
	border-radius: 15px;
	border:solid 2px black;
	padding:15px;
}

#header span{
	border-bottom:solid 5px black;
}

#header a{
	text-decoration: none;
}
#header a:hover{
	color:black;
}
#header a:visited{
	color:black;
}
#header a:link{
	color:black;
}

#site{
	padding-right:2px;
	padding-left:2px;
}

#apps{
	display: none;
}

#contentm, #contents{
	height:auto;
	min-height:250px;
	padding:10px;
	border-radius: 15px;
	background-color:#ffffff;
	border: 1px solid #A18527;
	position:relative;	
}

#footer{
	height:auto;
	padding:10px;
	text-align:center;
	font-size:0.8em;
	color:#000;
	background-color:white;
	border-radius: 15px;
	margin-top:20px;
	border: 1px solid #A18527;
}

#errorbox{
	background:gray;
	border-radius: 15px;
	padding:20px;
	margin: 5px 0;

}

#usertime{
	display: none;
}

#permalink{
	position: absolute;
	bottom:-2px;
	left:-2px;
	border:solid 2px black;
	background-color:white;
	border-radius:20px;
	padding:5px;
}

#breadcrumb{
	position: absolute;
	top:-2px;
	left:-2px;
	border:solid 2px black;
	background-color:white;
	border-radius:20px;
	padding:5px;
	min-width:30%;
	min-height:1.1em;
}

#nav {
	display: none;
}

div#lang ul{
	display: none;
}

div#each_regbox{
	display:none;
}

div#analysehinweis{
	display:none;
}


blockquote{
	margin: 15px 0;
	margin-left: 1.5em;
	padding-left: 1.5em;
	border-left: 0.2em gray solid;
}
code:not( [class*="language-"] ), pre:not( [class*="language-"] ){
	border-radius: 3px;
	background-color: #F8F8F8;
	color: inherit;
}
code:not( [class*="language-"] ){
	border: 1px solid #EAEAEA;
	margin: 0 2px;
	padding: 0 5px;
}
pre:not( [class*="language-"] ){
	border: 1px solid #CCCCCC;
	line-height: 1.25em;
	overflow: auto;
	padding: 6px 10px;
}
pre:not( [class*="language-"] ) > code:not( [class*="language-"] ) {
	border: 0;
	margin: 0;
	padding: 0;
}
